
.DS_Store
General/Julia/.AppleDouble/.Parent
General/Julia/.AppleDouble/chiSq.m
General/Julia/.AppleDouble/cimean.m
General/Julia/.AppleDouble/errorbar2.m
General/Julia/.AppleDouble/errorshade2.m
General/Julia/.AppleDouble/getBlackrockArrayMap.m
General/Julia/.AppleDouble/getBlackrockRecFileList.m
General/Julia/.AppleDouble/gratings_analysis_across_days_livescript.mlx
General/Julia/.AppleDouble/nsubplot.m
General/Julia/.AppleDouble/osi.m
General/Julia/.AppleDouble/shuffleTest2Dist.m
General/Julia/.AppleDouble/WU_LE_nsp1_allResp.mat
General/Julia/contourInt/.AppleDouble/.Parent
General/Julia/contourInt/.AppleDouble/bin_spike_bushnell11_contourInt.m
General/Julia/contourInt/.AppleDouble/ContIntMwk_brittanyscode.m
General/Julia/contourInt/.AppleDouble/contourInt_analysis_README.rtf
General/Julia/contourInt/.AppleDouble/contourIntegration_parsing_10_04_18.m
General/Julia/contourInt/.AppleDouble/parseCIName.m
General/Julia/contourInt/.AppleDouble/parseCIName_phase.m
General/Julia/contourInt/.AppleDouble/parseCIName_reg.m
General/Julia/contourInt/.AppleDouble/structBlackrock_contourInt.m
General/Julia/export_fig-master/.AppleDouble/.Parent
General/Julia/export_fig-master/.AppleDouble/append_pdfs.m
General/Julia/export_fig-master/.AppleDouble/copyfig.m
General/Julia/export_fig-master/.AppleDouble/crop_borders.m
General/Julia/export_fig-master/.AppleDouble/eps2pdf.m
General/Julia/export_fig-master/.AppleDouble/export_fig.m
General/Julia/export_fig-master/.AppleDouble/fix_lines.m
General/Julia/export_fig-master/.AppleDouble/ghostscript.m
General/Julia/export_fig-master/.AppleDouble/im2gif.m
General/Julia/export_fig-master/.AppleDouble/ImageSelection.class
General/Julia/export_fig-master/.AppleDouble/ImageSelection.java
General/Julia/export_fig-master/.AppleDouble/isolate_axes.m
General/Julia/export_fig-master/.AppleDouble/LICENSE
General/Julia/export_fig-master/.AppleDouble/pdf2eps.m
General/Julia/export_fig-master/.AppleDouble/pdftops.m
General/Julia/export_fig-master/.AppleDouble/print2array.m
General/Julia/export_fig-master/.AppleDouble/print2eps.m
General/Julia/export_fig-master/.AppleDouble/read_write_entire_textfile.m
General/Julia/export_fig-master/.AppleDouble/README.md
General/Julia/export_fig-master/.AppleDouble/user_string.m
General/Julia/export_fig-master/.AppleDouble/using_hg2.m
General/Julia/fitting/.AppleDouble/.Parent
General/Julia/fitting/.AppleDouble/asymGaussBandwidth.m
General/Julia/fitting/.AppleDouble/DVMBandwidth2.m
General/Julia/fitting/.AppleDouble/DVMBandwidth2_OLD.m
General/Julia/fitting/.AppleDouble/DVMBandwidth2_SF.m
General/Julia/fitting/.AppleDouble/DVMBlob.m
General/Julia/fitting/.AppleDouble/DVMBLob1.m
General/Julia/fitting/.AppleDouble/DVMBlob2.m
General/Julia/fitting/.AppleDouble/DVMBlob6.m
General/Julia/fitting/.AppleDouble/DVMBlobBandwidth.m
General/Julia/fitting/.AppleDouble/FitDVMBlob.m
General/Julia/fitting/.AppleDouble/FitDVMBlob0.m
General/Julia/fitting/.AppleDouble/FitDVMBlob1.m
General/Julia/fitting/.AppleDouble/FitDVMBlob2.m
General/Julia/fitting/.AppleDouble/FitDVMBlob3.m
General/Julia/fitting/.AppleDouble/FitDVMBlob4.m
General/Julia/fitting/.AppleDouble/FitDVMBlob5.m
General/Julia/fitting/.AppleDouble/FitDVMBlob6.m
General/Julia/fitting/.AppleDouble/FitDVMBlob7.m
General/Julia/fitting/.AppleDouble/FitVMBlob.m
General/Julia/fitting/.AppleDouble/fnGaussian.m
General/Julia/fitting/.AppleDouble/fnVonMises.m
General/Julia/fitting/.AppleDouble/prefSfFromFit.m
General/Julia/fitting/.AppleDouble/VMBlob.m
General/Julia/gratings/.AppleDouble/.Parent
General/Julia/gratings/.AppleDouble/bin_spike_bushnell10_gratings.m
General/Julia/gratings/.AppleDouble/fitBlackrock_gratings.m
General/Julia/gratings/.AppleDouble/gratings_analysis_across_days_livescript.mlx
General/Julia/gratings/.AppleDouble/gratings_analysis_README.rtf
General/Julia/gratings/.AppleDouble/gratings_FE_vs_AE.m
General/Julia/gratings/.AppleDouble/gratings_parsing_10_04_18.m
General/Julia/gratings/.AppleDouble/gratings_responses_across_days.m
General/Julia/gratings/.AppleDouble/structBlackrock_gratings.m
General/library/.AppleDouble/.Parent
General/library/.AppleDouble/spatialPattern.zip
General/library/Analysis/.AppleDouble/.Parent
General/library/archive/.AppleDouble/.Parent
General/library/arrayutils/.AppleDouble/.Parent
General/library/arrayutils/.AppleDouble/arraymap.m.20141014
General/library/arrayutils/.AppleDouble/batch_NSxToNEV.m
General/library/arrayutils/.AppleDouble/decodeNEVHeader.m
General/library/arrayutils/.AppleDouble/FilterM.m
General/library/arrayutils/.AppleDouble/FilterX.c
General/library/arrayutils/.AppleDouble/FilterX.mexa64
General/library/arrayutils/.AppleDouble/FiltFiltM.m
General/library/arrayutils/.AppleDouble/getNEVHeader.m
General/library/arrayutils/.AppleDouble/getNSxData.m
General/library/arrayutils/.AppleDouble/NSxToNEV.m
General/library/arrayutils/.AppleDouble/NSxToNEV.m.20131029.zip
General/library/arrayutils/.AppleDouble/quickspikesort.m
General/library/arrayutils/.AppleDouble/rethreshold.m
General/library/arrayutils/.AppleDouble/rethreshold.m.20140123.zip
General/library/arrayutils/.AppleDouble/s2hms.m
General/library/Basic/.AppleDouble/.Parent
General/library/Blackrock/.AppleDouble/.Parent
General/library/ExpoMatlab/.AppleDouble/.Parent
